@import url("https://fonts.googleapis.com/css?family=Baloo+Thambi|Muli|Righteous");

*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
  --pink: #dd7d96;
  --white: #ffffff;
}

body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.center {
  display: flexbox;
  align-items: center;
  justify-content: center;
}

.pink-fade {
  background-image: radial-gradient(white, rgb(123, 123, 123), rgb(117, 117, 117));
}

.colorful {
  background-color: #f8f8f8;
  opacity: 0.8;
  background-image: radial-gradient(#000000 0.8px, transparent 0.5px),
    radial-gradient(#ffffff 0.5px, rgba(255, 255, 255, 0.628) 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}



/* Estilo para la imagen de la patología */
.patologia-imagen {
  width: 100%; /* Por defecto, ocupará el 100% del ancho del contenedor */
  max-width: 600px; /* Máximo ancho para pantallas grandes */
  height: auto; /* Mantiene la proporción de la imagen */
}

/* Media query para dispositivos móviles (ancho de pantalla menor a 600px) */
@media only screen and (max-width: 600px) {
  .patologia-imagen {
      max-width: 400px; /* Ajustar a 400px para dispositivos móviles */
  }
}

.main-image {
  display: flexbox;
  height: 50px;
  width: 100%;
}

.rose-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 820px;
  background-color: transparent;
  background-image: linear-gradient(
    0deg,
    #ffff 2%,
    #5d8eff54 5%
  ); /* Color rosa con opacidad */
  z-index: 1;
  padding-top: 19.5rem;
  align-items: center;
  justify-content: center;
}

