@import url("https://fonts.googleapis.com/css?family=Baloo+Thambi|Muli|Righteous");

*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
  --pink: #dd7d96;
  --white: #ffffff;
}

body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.center {
  display: flexbox;
  align-items: center;
  justify-content: center;
}

.pink-fade {
  background-image: radial-gradient(white, rgb(123, 123, 123), rgb(117, 117, 117));
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 100%;
  border-radius: 20px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
}

.popup-content {
  background-color: white;
  border-style: solid;
  border-color: #000000;
  border: 5px;
  padding: 40px;
  border-radius: 10px;
}


.close:hover,
.close:focus {
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}

/* CSS */
.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}


.newfont {
  font-family: "Righteous", cursive;
}

.colorful {
  background-color: #f8f8f8;
  opacity: 0.8;
  background-image: radial-gradient(#000000 0.8px, transparent 0.5px),
    radial-gradient(#ffffff 0.5px, rgba(255, 255, 255, 0.628) 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.revealX {
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
  transition: 1s all ease;
}
.revealX.active {
  transform: translateX(0);
  opacity: 1;
}

.revealZ {
  position: relative;
  transform: translateX(150px);
  opacity: 0;
  transition: 1s all ease;
}
.revealZ.active {
  transform: translateX(0);
  opacity: 1;
}



.border-black {
  border: 3px;
  border-style: solid;
  border-color: black;
}

.text1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
}

.text2 {
  font-family: "Times New Roman", Times, serif;
  color: rgb(252, 163, 54);
}

.text3 {
  font-family: "Times New Roman", Times, serif;
  color: rgb(252, 163, 54);
  font-size: 5rem;
}



.main-image {
  display: flexbox;
  height: 50px;
  width: 100%;
}

.church-image {
  display: flexbox;
  max-width: 650px;
  height: 600px;
}

.title {
  font-size: 3rem;
  color: var(--pink);
}

.name {
  font-size: 6rem;
  color: var(--pink);
}

.rose-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 820px;
  background-color: transparent;
  background-image: linear-gradient(
    0deg,
    #ffff 2%,
    #5d8eff54 5%
  ); /* Color rosa con opacidad */
  z-index: 1;
  padding-top: 19.5rem;
  align-items: center;
  justify-content: center;
}

.time-unit {
  font-size: 40px;
}

.time-container {
  display: flexbox;
  top: 0;
  left: 0;
  width: 100px;
  height: 150px;
  background-color: WHITE;
  opacity: 60%;
  z-index: 1;
  border-radius: 20%;
  justify-content: center;
  align-items: center;
}

p {
  display: flexbox;
  margin-bottom: -30px;
}

.bubbles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  top: 0;
  left: 0;
}
.bubble {
  position: absolute;
  bottom: -100px;
  width: 40px;
  height: 40px;
  background: #f1f1f1;
  border-radius: 50%;
  opacity: 0.5;
  animation: rise 10s infinite ease-in;
}
.bubble:nth-child(1) {
  width: 40px;
  height: 40px;
  left: 10%;
  animation-duration: 8s;
}
.bubble:nth-child(2) {
  width: 20px;
  height: 20px;
  left: 20%;
  animation-duration: 5s;
  animation-delay: 1s;
}
.bubble:nth-child(3) {
  width: 50px;
  height: 50px;
  left: 35%;
  animation-duration: 7s;
  animation-delay: 2s;
}
.bubble:nth-child(4) {
  width: 80px;
  height: 80px;
  left: 50%;
  animation-duration: 11s;
  animation-delay: 0s;
}
.bubble:nth-child(5) {
  width: 35px;
  height: 35px;
  left: 55%;
  animation-duration: 6s;
  animation-delay: 1s;
}
.bubble:nth-child(6) {
  width: 45px;
  height: 45px;
  left: 65%;
  animation-duration: 8s;
  animation-delay: 3s;
}
.bubble:nth-child(7) {
  width: 90px;
  height: 90px;
  left: 70%;
  animation-duration: 12s;
  animation-delay: 2s;
}
.bubble:nth-child(8) {
  width: 25px;
  height: 25px;
  left: 80%;
  animation-duration: 6s;
  animation-delay: 2s;
}
.bubble:nth-child(9) {
  width: 15px;
  height: 15px;
  left: 70%;
  animation-duration: 5s;
  animation-delay: 1s;
}
.bubble:nth-child(10) {
  width: 90px;
  height: 90px;
  left: 25%;
  animation-duration: 10s;
  animation-delay: 4s;
}
@keyframes rise {
  0% {
    bottom: -100px;
    transform: translateX(0);
  }
  50% {
    transform: translate(100px);
  }
  100% {
    bottom: 1080px;
    transform: translateX(-200px);
  }
}

.firework {
  position: relative;
}
.explosion {
  position: absolute;
  left: -2px;
  bottom: 0;
  width: 4px;
  height: 80px;
  transform-origin: 50% 100%;
  /* background-color: rgba(0,0,0,.2); */
  overflow: hidden;
}
.explosion:nth-child(1) {
  transform: rotate(0deg) translateY(-15px);
}
.explosion:nth-child(2) {
  transform: rotate(30deg) translateY(-15px);
}
.explosion:nth-child(3) {
  transform: rotate(60deg) translateY(-15px);
}
.explosion:nth-child(4) {
  transform: rotate(90deg) translateY(-15px);
}
.explosion:nth-child(5) {
  transform: rotate(120deg) translateY(-15px);
}
.explosion:nth-child(6) {
  transform: rotate(150deg) translateY(-15px);
}
.explosion:nth-child(7) {
  transform: rotate(180deg) translateY(-15px);
}
.explosion:nth-child(8) {
  transform: rotate(210deg) translateY(-15px);
}
.explosion:nth-child(9) {
  transform: rotate(240deg) translateY(-15px);
}
.explosion:nth-child(10) {
  transform: rotate(270deg) translateY(-15px);
}
.explosion:nth-child(11) {
  transform: rotate(300deg) translateY(-15px);
}
.explosion:nth-child(12) {
  transform: rotate(330deg) translateY(-15px);
}

.explosion::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 40px;
  background-color: #f5cf52;
}
@keyframes explosion {
  0% {
    top: 100%;
  }
  33%,
  100% {
    top: -50%;
  }
}

#firework1 {
  left: 10%;
  top: 50%;
  transform: scale(1);
}
#firework1 .explosion::before {
  animation: explosion 2s ease-in-out infinite;
}

#firework2 {
  left: 40%;
  top: 95%;
  transform: scale(0.7);
}
#firework2 .explosion::before {
  animation: explosion 2s 0.6s ease-in-out infinite;
}

#firework3 {
  left: 50%;
  top: 65%;
  transform: scale(0.4);
}
#firework3 .explosion::before {
  animation: explosion 2s 0.6s ease-in-out infinite;
}

#firework4 {
  left: 0%;
  top: 65%;
  transform: scale(0.4);
}
#firework4 .explosion::before {
  animation: explosion 3s 0.6s ease-in-out infinite;
}